.productlist-root {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.product-store-name{
    display: flex;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid #e5e5e5;
}

.productlist-cure-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}
