.rootContainer{
    min-width: 700px;
    height: 100%;
    overflow-y: scroll;
    padding-top: 100px;
    .titleAndTipContainer {
        text-align: center;
        .titleContainer {
            line-height: 40px;
            vertical-align: middle;
            .title {
                margin-right: 10px;
                vertical-align: middle;
                font-size: 30px;
            }
            .logo {
                vertical-align: middle;
                width: 30px;
                height: 30px;
            }
        }
        .tip {
            margin: 30px auto 0 auto;
            width: 450px;
            word-wrap: break-word;
            word-break: break-all;
            text-align: left;
            font-size: 18px;
            color: #ddd;
        }
    }
    .codeOrRefreshContainer {
        text-align: center;
        margin-top: 50px;
        .title {
            font-size: 25px;
        }
        .codeElemContainer {
            margin-top: 30px;
            .codeElem {
                display: inline-block;
                width: 60px;
                line-height: 80px;
                margin-right: 18px;
                background-color: #fff6f0;
                border-radius: 4px;
                font-size: 45px;
                color: #ff6f00;
            }
        }
        .refresh {
            margin-top: 10px;
            line-height: 40px;
            cursor: pointer;
            color: #ff6f00;
        }
    }
    .buttonsContainer {
        text-align: center;
        margin-top: 80px;
        .normal {
            margin-right: 60px;
            width: 230px;
            height: 70px;
            color: #ff6f00;
            font-size: 23px;/*该属性声明不被继承*/
            border: 1px solid #ff6f00;
            background-color: #fff;
            cursor: pointer;
        }
        .active {
            width: 230px;
            height: 70px;
            color: #fff;
            font-size: 23px;
            background-color: #ff6f00;
            cursor: pointer;
        }
    }
}