.ic-root {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex: 1;
	width: 90%;
	padding: 10px 10px 10px 10px;
	border: 1px solid red;
	.ic-container {
		margin-bottom: 10px;
		.ic-label {
            
		}
		.ic-data {
		}
	}
}
