.ic-root {
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    padding-left: 10px;
    border: 1px solid red;
    .ic-container {
        margin-bottom: 10px;
        .ic-label {

        }
        .ic-data {

        }
    }
}