.product-root {
	border: 1px solid red;
	display: flex;
	align-items: center;
}

.product-image {
	border: 1px solid red;
	width: 100px;
	height: 100px;
}

.product-description-container {
	border: 1px solid red;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.product-description-title {
}

.product-description-usage {
}

.product-description-op-container {
}

.product-price-gold-container {
}

.product-price-container {
}
.product-price-symbol {
}

.product-price {
}

.product-price-health-gold {
}

.product-amount-container {
}

.product-amount {
}

.product-instruction {
}
