.product-root {
	display: flex;
	align-items: center;
}

.product-image {
	width: 130px;
	height: 130px;
	margin-right: 10px;
}

.product-description-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}

.product-description-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 30px;
	color: #333;
}

.product-description-usage {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 26px;
	color: #999;
}

.product-description-op-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-top: 10px;
}

.product-price-gold-container {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 5px;
}

.product-price-container {
	margin-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product-price-symbol {
	font-size: 24px;
}

.product-price {
	font-size: 30px;
}

.product-health-gold {
	border: 1px solid #00a3fe;
	color: #00a3fe;
	border-radius: 4px;
	flex-shrink: 0;
}

.product-instruction-amount-container {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 5px;
}
.product-instruction {
	margin-right: 10px;
	border: 1px solid #00a3fe;
	color: #00a3fe;
	padding: 5px 10px;
	border-radius: 10px;
	flex-shrink: 0;
}

.product-amount {
	overflow: hidden;
	text-overflow: ellipsis;
}
