.we-root {
	display: flex;
	position: relative;
	height: 100%;
	margin-top: 10px;
	background: #fafafa;
	text-align: center;
	.we-container {
        display: flex;
		align-items: center;
		flex: 1;
		.we-chart {
            display: flex;
            align-items: center;
            border: 1px solid #00a3fe;
            flex: 1;
		}
		.we-content {
            display: flex;
            align-items: center;
            border: 1px solid #00a3fe;
		flex: 2;
		flex-direction: column;
		height: 100%;
		}
	}
	.direction {
		position: absolute;
		bottom: 0;
		color: rgb(255, 69, 0);
		cursor: pointer;
	}
}
